{% extends "bootstrap/base.html" %}
{% block title %}PUZZLE GAME{% endblock %}


{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}


{% block content %}
  <h1>PUZZLE GAME</h1>
  <table class="table table-bordered">
    {% for result in wordsearch %}
    <tr>
        {% for item in result %}
            <td class="warning">
                 {{item}}
            </td>           
        {% endfor %}
    
    
    </tr>
    {% endfor %}
  </table>
  {{wordsearch}}

{% endblock %}

 